@import "tailwindcss";

@theme {
  --color-background: var(--color-zinc-950);
  --color-foreground: var(--color-zinc-400);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply overscroll-none;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* scrollbar styling. */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 4px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer components {
  .flex.start {
    @apply justify-start;
  }
  .flex.center {
    @apply justify-center;
  }
  .flex.end {
    @apply justify-end;
  }
  .flex.between {
    @apply justify-between;
  }
  .flex.around {
    @apply justify-around;
  }

  .flex.top {
    @apply items-start;
  }
  .flex.middle {
    @apply items-center;
  }
  .flex.bottom {
    @apply items-end;
  }
}

@layer utilities {
  .debug {
    @apply border border-red-500;
  }
}
